<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Cambio</title>
</head>
<body>
    <h1>Formulario de Cambio</h1>
    <form method="post" action="/subir_volumen" enctype="multipart/form-data">
        <label for="archivo">Archivo:</label>
        <input type="file" id="archivo" name="archivo" required><br><br>
        
        <label for="numero">Número:</label>
        <input type="number" id="numero" name="numero" required><br><br>
        
        <input type="submit" value="Realizar Cambio">
    </form>
</body>
</html>
